
.env
.env.*

.git
.gitignore

node_modules/
server/node_modules/

npm-debug.log
yarn-error.log
*.log

processor/target/
target/

.mvn/

Dockerfile
.dockerignore
docker-compose.yml

.DS_Store
Thumbs.db