services:
  db:
    image: mysql:latest
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${DB_PORT}:3306"
    volumes:
      - ./mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    restart: always
    depends_on:
      db:
        condition: service_healthy
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    ports:
      - "8081:80"

  processor:
    build:
      context: ./processor
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy

  server:
    build:
      context: ./server
    ports:
      - "3001:3001"
    depends_on:
      - db
      # - processor
    environment:
      DB_HOST: db
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      DB_PORT: 3306
      DB_DIALECT: ${DB_DIALECT}
      VIDEOS_DIR: ${VIDEOS_DIR}
      RESULTS_DIR: ${RESULTS_DIR}
      JAR_PATH: ${JAR_PATH}

  #frontend:
  #build:
  #   context: ./frontend
  # ports:
  #   - "3000:3000"
  # depends_on:
  #   - server
